$rem: 75;
@function r($px) {
  @return $px / $rem * 1 + rem;
}

@mixin f($font-size) {
  font-size: $font-size + px;

  [data-dpr="2"] & {
    font-size: $font-size * 2 + px;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3 + px;
  }
}

#Box404 {
  position: absolute;
  width: 100%;
  background: #222;
  overflow: hidden;
  z-index: 900;
}

@media screen and (min-width: 751px) {
  #Box404 {
    height: 100vh;
  }
  .mobile-404 {
    display: none;
  }
  .pc-404 {
    position: absolute;
    width: 100%;
    top: 48%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    text-align: center;
    p {
      margin: 25px auto;
      color: #888;
      font-size: 20px;
      text-align: center;
      line-height: 1.3;
      letter-spacing: 1px;
      font-weight: 300;
      a {
        color: #fff;
        &:hover {
          color: red;
        }
      }
    }
    h1 {
      display: inline-block;
      color: #fff;
      font-size: 260px;
      vertical-align: middle;
      font-weight: 700;
    }
    .stone {
      display: inline-block;
      width: 277px;
      height: 325px;
      margin: 0 -25px;
      background: url('https://ohovav7hg.qnssl.com/article404.png?imageView2/2/q/40') 0 0;
      background-size: 100%;
      transform: scale(.8);
      vertical-align: bottom;
      -webkit-animation: i 1.2s steps(8) infinite;
      animation: i 1.2s steps(8) infinite;
    }
    @keyframes  i {
      0%{ background-position-y: 0 }
      to{ background-position-y: 5200px }
    }
    @-webkit-keyframes i {
      0%{ background-position-y: 0 }
      to{ background-position-y: 5200px }
    }
  }
}

@media screen and (max-width: 750px) {
  #Box404 {
    height: 100%;
  }
  .pc-404 {
    display: none;
  }
  .mobile-404 {
    position: absolute;
    width: 100%;
    min-width: r(400);
    top: 48%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    text-align: center;
    p {
      margin: r(30) auto;
      color: #888;
      @include f(14);
      text-align: center;
      line-height: 1.3;
      letter-spacing: r(1);
      font-weight: 300;
      a {
        color: #fff;
        &:hover, &:active {
          color: red;
        }
      }
    }
    h1 {
      display: inline-block;
      color: #fff;
      @include f(120);
      vertical-align: middle;
      font-weight: 700;
    }
    .stone {
      display: inline-block;
      width: r(277);
      height: r(325);
      margin: 0 r(-20) 0 r(-15);
      background: url('https://ohovav7hg.qnssl.com/article404.png?imageView2/2/q/40') no-repeat;
      background-size: 100%;
      background-position: center 73%;
      vertical-align: bottom;
    }
  }
}

