//@import "./../../assets/sass/reset";
body, html {
  height: 100%;
  width: 100%;
}

#root, #App {
  height: 100%;
  width: 100%;
}

#App.on, #App.load {
  overflow: hidden;
}

#App.on > div, #App.load > div {
  overflow: hidden;
}