$rem: 75;
@function r($px) {
  @return $px / $rem * 1 + rem;
}

@mixin f($font-size) {
  font-size: $font-size + px;

  [data-dpr="2"] & {
    font-size: $font-size * 2 + px;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3 + px;
  }
}

#Nav {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #111;
  overflow: hidden;
  transform: translate3d(100%, 0, 0);
  transition: left .5s ease 0s;
  z-index: 999;
}

@media screen and (min-width: 750px) {
  .nav-mobile {
    display: none;
  }
  .on #Nav {
    transform: translate3d(0, 0, 0);
  }
  .nav-pc {
    .menu-links-wrap {
      position: absolute;
      height: 60%;
      width: 100%;
      top: 50%;
      min-height: 430px;
      transform: translate3d(0, -50%, 0);
    }
    .menu-links {
      position: relative;
      padding: 0 0 0 12%;
      width: 100%;
      max-height: 100%;
      max-width: 100%;
    }
    .menu-rainbow {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 430px;
      z-index: 1;
      rect {
        transition: all ease .05s;
      }
    }
    .menu-link {
      font-size: 64px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      z-index: 5000;
      padding: 27px 0;
      line-height: .7;
      letter-spacing: 2px;
      cursor: pointer;
      transition: all .1s ease-in-out 0s;
      -webkit-transition: all .1s ease-in-out 0s;
      -moz-transition: .1s all 0s ease-in-out;
      -o-transition: .1s all 0s ease-in-out;
    }
    .menu-link:hover {
      color: #666;
    }
    .copyright {
      position: absolute;
      top: 90%;
      padding: 0 0 0 12%;
      line-height: 1.5;
      font-size: 14px;
      font-weight: 400;
      font-style: italic;
      color: #666;
      letter-spacing: 1px;
    }
  }
}

@media screen and (max-width: 750px) {
  .nav-pc {
    display: none;
  }
  .nav-mobile {
  }
}

